<!DOCTYPE html>
<html>
<head>
<script src="https://apis.google.com/js/platform.js"></script>
</head>
<body>
<?php
require_once('EmbedYoutubeLiveStreaming.php');
$channelId = "<%= @channel_id %>";
$api_key = "<%= @api_key %>";
$YouTubeLive = new EmbedYoutubeLiveStreaming($channelId,$api_key);
?>
<div class="g-ytsubscribe" data-channel="<%= @channel_id %>" data-layout="full" data-theme="dark" data-count="default"></div><br>
<?php
if(!$YouTubeLive->isLive)
{
	echo "Op dit moment is er geen live evenement:<br><br>";
	echo "<pre><code>";
	var_dump($YouTubeLive->objectResponse);
	// print_r($YouTubeLive->arrayResponse);
	echo "</code></pre>";
}
else
{
	echo <<<EOT
Op dit moment is er een live evenement te bekijken! Zie hieronder!<br>
<br>
Titel is: {$YouTubeLive->live_video_title}<br>
<br>
Omschrijving is: {$YouTubeLive->live_video_description}<br>
<br>
Video ID is: {$YouTubeLive->live_video_id}<br><br>
Thumbs are: {$YouTubeLive->live_video_thumb_default}, {$YouTubeLive->live_video_thumb_medium}, {$YouTubeLive->live_video_thumb_high} <br><br>
Published at: {$YouTubeLive->live_video_published_at}<br><br>
Channel Title: {$YouTubeLive->channel_title}<br><br>
EOT;
	// $YouTubeLive->setEmbedSizeByWidth(200);
	// $YouTubeLive->setEmbedSizeByHeight(200);
	// $YouTubeLive->embed_autoplay = false;
	echo $YouTubeLive->embedCode();
}
?>
</body>
</html>
